atomicwrites==1.2.1
attrs==18.2.0
certifi==2018.10.15
chardet==3.0.4
colorama==0.4.1
funcsigs==1.0.2
idna==2.7
more-itertools==4.3.0
pathlib2==2.3.3
pluggy==0.8.0
py==1.7.0
Pygments==2.2.0
pytest==4.0.1
requests==2.20.0
robotframework==3.0.4
robotframework-requests==0.5.0
robotframework-ride==1.5.2.1
robotframework-selenium2library==3.0.0
robotframework-seleniumlibrary==3.2.0
scandir==1.9.0
selenium==3.14.1
six==1.11.0
urllib3==1.24
